#hamburger {
	position: fixed;
	right: 0;
	top: 0.5em;
	height: 2em;
	width: 2em;
	padding: 0.5em 0.25em;
	background: #fff;
	z-index: 10001;
	div {
		background: $black;
		width: 1.5em;
		height: 3px;
		@include transition(all 0.25s ease-in-out);
	}
	div + div {
		margin-top: 3px;
	}

	&.open {
		#top-bun {
			opacity: 0;
		}
		#meat {
			@include transform(rotate(45deg));
		}
		#bottom-bun {
			@include transform(rotate(-45deg));
			margin-top: -0.2em;
		}
	}
}