body.home {

	.primary-content {
		@media screen and (min-width: 768px) {
			padding-left: 11%;
		}
	}

	#logo-name {
		position: relative;
		margin-top: 17em;
		padding-left: 7%;
	}
	h1 {
		color: $black;
		float: left;
		margin-top: 0.8em;
		line-height: 0.925;
		letter-spacing: 1px;
		span {
			display: block;
			margin-left: 0.5em;
		}
	}
	#logo-name img {
		position: absolute;
		top: -8.5em;
		margin-left: -3.5em;
	}

	.links {
		display: table;
		width: 85%;
		a {
			display: table-cell;
			padding: 0 7%;
			font: 2.5em $populaire;
			color: $black;
		}
		span {
			display: block;
			text-align: right;
			position: relative;
		}
		span img {
			display: none;
			position: absolute;
		}
	}

	.links a:hover {
		span {
			@include transform(rotate(-6deg));
			margin-top: 0.25em;
			img {
				display: inline;
				margin-top: 0.5em;
				margin-left: -0.875em;
			}
		}
	}

}