.logo {
	text-align: center;
	display: block;
	margin: 1.5em 0;
}
.logo p {
	margin: 0.5em 0;
	font: 2.8125em $populaire;
	color: $black;
	text-transform: uppercase;
	line-height: 0.9;
}
.logo span {
	font-size: 0.8888em;
}