.main-sidebar {
	display: none;
	@media screen and (min-width: 768px) {
		display: table-cell;
		vertical-align: top;
		width: 165px;
		padding: 0 0.5em 0 1em;
		background-color: #fff;
	}
	@media screen and (max-width: 767px) {
		position: relative;
		overflow-y: scroll;
	}

	.fixed {
		@media screen and (min-width: 768px) {
			position: fixed;
			height: 100%;
		}
	}
}