.menu-title {
	text-align: center;
	img {
		vertical-align: middle;
		padding-right: 0.25em;
	}
}

.menu-dishes {
	list-style: none;
	padding: 0;
	width: 100%;

	li {
		line-height: 1.7;
		margin: 1em 0;
	}

	.dish {
		color: inherit;
		font: bold 0.875em $proxima;
		padding-right: 2%;
		text-transform: uppercase;
		@include inline-block;
		vertical-align: top;
	}
	.dish-details {
		color: $black;
		font: bold italic 0.875em $proxima;
		@include inline-block;
		vertical-align: top;
	}
	.long-dish {
		font: bold 0.875em $proxima;
		text-transform: uppercase;
		vertical-align: top;
	}
	.long-dish-details {
		color: $black;
		font: bold italic 0.875em $proxima;
		display: block;
		vertical-align: top;
	}
}

hr {
	width: 95%;
	margin: 0;
}

.column-title {
	font-size: 1.15em;
	color: $black;
	text-align: left;
	margin: 0;
}

.menu-dishes {
	@media screen and (min-width: 768px) {
		float:left;
		& + .menu-dishes { float: right; @include clearfix; }
	}
}

.subtitle {
	width: 550px;
	margin: 0 auto 1em;
	text-align: center;
}

.breakfast { color: $breakfast; }
.quiche { color:$orange; }
.nachos { color:$nachos; }
.salads { color:$salads; }
.sandwiches { color:$sandwiches; }
.sides { color:$sides; }
.smoothies { color:$smoothies; }
.coffee { color:$coffee; }
.bakedgoods { color:$bakedgoods; }