.menu-title {
	text-align: center;
	img {
		vertical-align: middle;
		padding-right: 0.25em;
	}
	&.purple {
		color: $purple;
	}
	&.orange {
		color: $orange;
	}
}

.menu-dishes {
	list-style: none;
	padding: 0;
	width: 100%;
	li {
		line-height: 2;
	}
	.dish {
		color: $purple;
		font: bold 0.875em $proxima;
		text-align: right;
		padding-right: 2%;
		text-transform: uppercase;
		width: 50%;
		@include inline-block;
	}
	.dish-details {
		color: $black;
		font: bold italic 0.875em $proxima;
		width: 48%;
		@include inline-block;
	}
	& + hr {
		max-width: 87%;
		margin: 0;
		float: right;
		@include clearfix;
	}
	& + hr + p {
		@include clearfix;
		margin-left: 0.5em;
		margin-right: 0.5em;
		width: 87%;
		margin-left: 15%;
		padding-top: 1em;
	}
}