#mobile-nav-wrapper {
	@media screen and (min-width: 768px) {
		display: none;
	}
	position: absolute;
	top: -110%;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	background: url(../img/bg.jpg) 165px 0 repeat #D0E5D2;
	@include background-size(cover);
	z-index: 1000;
	@include transition(all 0.25s ease-in-out);
	@include transform(translateY(-110%));
	&.open {
		top: 0;
		position: fixed;
	    overflow: scroll;
	    bottom: 0;
		@include transform(translateY(0));
		.main-sidebar {
			display: block !Important;
		}
		.logo {
			margin: 1em 0 0.5em;
		}
		.logo p {
			margin: 0.25em 0;
		}
		.contact-info {
			position: static;
			width: 100%;
			text-align: center;
			margin-top: 1em;
		}
	}

	.main-nav {
		text-align: center;
	}
	.main-nav ul {
		padding: 0;
	}
	.main-nav li {
		margin: 0.5em 0;
	}
}