$green: #39b54a;
$dark-green: #188462;
$black: #474f4f;
$purple: #9f1f63;
$orange: #f1592a;

$breakfast: #9f1f63;
$quiche :#fae372;
$nachos :#0e76bc;
$salads :#39b54a;
$sandwiches :#f1592a;
$sides :#056839;
$smoothies:#f1605e;
$coffee :#33BB2C;
$bakedgoods :#a97c50;

// Font Families
$populaire: 'populairemedium', 'Helvetica', sans-serif;
$proxima: 'proxima-nova', 'Helvetica', sans-serif;

// Grid Variables
$totalCols: 16;