$green: #39b54a;
$dark-green: #188462;
$black: #474f4f;
$purple: #9f1f63;
$orange: #f1592a;

// Font Families
$populaire: 'populairemedium', 'Helvetica', sans-serif;
$proxima: 'proxima-nova', 'Helvetica', sans-serif;

// Grid Variables
$totalCols: 16;